#wrap .col-md-4, .col-xs-4 {
	padding:0 1%;
}
#wrap .col-md-2, .col-xs-2 {
	padding:0 0.5%;
}
#tagSearch {
	padding-top:2%;
}
#tagSection h2{
	font-size:1.2em;
}
.interestTag {
	background-color:#fff;
	padding:2% 0;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid #c0c0c0;
	border-radius:4px;
}
.interestTag:hover {
	background-color:#e0e0e0;
}
#tagSubsection {
	font-size:0.8em;
}
.interestSubtag {
	background-color:#e0e0e0;	
	padding:1.5% 0;
	border-radius:4px;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
}