body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6495ED;
}

a {
  color: #00B7FF;
}

.homePageButton {
	width: 50%;
	height: 25%;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
}

.typeHeader {
	font-size: 8em;
}

#connectButton {
	margin-top: 20%;
}

#learnButton {
	//margin-top: 60%;
}

/******************/
/* Connect styles */
/******************/
.tagSearch {
	padding-top:2%;
}
.interestTag {

}
#creativeTag {

}
#gamingTag {

}
#socialTag {

}