body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.homePageButton {
	width: 50%;
	background-color: blue;
	height: 25%;
	padding: 20px;
	color: white;
	border-radius: 5px;
}