<div ng-include src="'angularviews/header.html'"></div>

<center>
	<h2 class="typeHeader">Ask</h2>
</center>
<form class="form-inline">
	<div class="form-group">
		<label for="name">Name: </label>
		<input type="text" class="form-control" id="name" ng-model="name">
	</div>
	<br />
	<div class="form-group">
		<label for="email">Email: </label>
		<input type="email" class="form-control" id="email" ng-model="email">
	</div>
	<br />
</form>
<form class="form">
	<div class="form-group">
		<label for="question">Question: </label><br />
		<textarea rows=20 cols=80>
			
		</textarea>
	<div>
</form>